@import 'mixins';

#pay-yourself-first-calc{

	.header-part-right{
		margin-top: 180px;
		position: absolute;
		right: 0px;
		width: 210px;

		@media screen and (max-width:1330px){
			display:none;
		}
	}

	.header-part-left{
		position: absolute;
		top: 400px;
		left: 0;
		width: 210px;
		
		@media screen and (max-width:1330px){
			display:none;
		}
	}

	.sticky.menu{
		@media screen and (max-width:1330px){
			display:none;
		}

		.text-2xl {
			font-size: 1.3rem;
			line-height: 1.8rem;
		}

	}

	.mobile_font_resize{
		@media screen and (max-width:600px){
			font-size: 2.4rem;
		}
	}

	.content-holder, .header-content{
		padding-left:5rem;

		@media screen and (max-width:1330px){
			padding-left:0;
		}
	}

	@media screen and (max-width:750px){

		.bg-food-header, .bg-energy-header, .bg-fuel-header, .bg-entertainment-header{
			height: 400px;
			background-position: top right -100px !important;

			h2{
				padding-bottom: 10px;
				font-size:26px;
			}
			h3{
				font-size:20px;
				font-weight: 400;
			}
		}

	}

	@media screen and (max-width:500px){
		.bg-food-header{
			height: 400px;
			background-position: top right -200px !important;
		}
	}

	.img_header_content{

		@media screen and (max-width:750px){
			display: block;
			
			div{
				width: 100%;
				margin: 20px 0 auto 0;
			}

			input{
				width:100%;
				max-width: 100%;
			}

		}

	}

	/* Chrome, Safari, Edge, Opera */
	input.no-arrows::-webkit-outer-spin-button,
	input.no-arrows::-webkit-inner-spin-button {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		margin:0;
	}

	/* Firefox */
	input.no-arrows[type=number] {
		-webkit-appearance: textfield;
		-moz-appearance: textfield;
		appearance: textfield;
	}

	.MuiSlider-root{
		position:relative;
		top:22px;
	}

	.MuiSlider-rail{
		background: #CCC;
	}

	#Entertainment{

		.savings_container{
		
			@media screen and (max-width:1280px){
	
				.savings_copy_and_slider{
	
					.savings_slider{
						width: 100%;
						margin-top:30px;

						@media screen and (max-width:750px){

							&.luxuries-mobile-spacer {
								margin-bottom: 70px; 

								input{
									min-width: 60px;
								}
							}
					
						}

					}
	
				}
	
			}
	
		}

	}

	.savings_container{
		
		@media screen and (max-width:700px){
			display: block;
			width: 100% !important;

			.savings_copy_and_slider{
				display: block;
				width: 100% !important;
				flex: none;

				.savings_slider{
					width: 100%;
					margin-top:30px;

					input{
						width: 100%;
						max-width: 100%;
					}
				}

				.text-base{
					width: 100%;
				}

			}

			.savings_value{
				display: block;
				width: 100% !important;
				padding: 20px 50px 0 0;
			}

		}

	}

	.savings_value{
		width:150px;
	}

	.py-12{
		padding-top: 40px;
		padding-bottom: 30px;
	}

	.MuiSlider-valueLabelOpen{
		font-size: 18px;
		font-weight: 400;
	}

	#SavingType{

		h3{
			font-size: 1.3em;
		}

	}

	.text-brandGreen{
		color: rgb(21, 150, 119);
	}

	.luxury_selector{
		background: #FFF;
		border:1px solid rgb(228,228,228);
		box-shadow: none !important;
		border-radius:3px;
		padding: 18px 10px;
		text-align: left;

		.MuiInputBase-root{
			box-shadow: none !important;
			border: none;
			margin-top: 18px;
		}
	}

	.final_container{

		@media screen and (max-width:800px){
			display: block;

			.final_graph_container{
				width: 100%;
			}

			button{
				width: auto;
			}

		}

	}

	#SavingType{
		@media screen and (max-width:850px){

			div{
				text-align: center;

				&:first-of-type{
					display: block;
				}

				div{
					display: inline-block;
					width: 100%;
					margin: auto 0;
					padding: auto 0;
					text-align: center;

					img{
						display: inline-block;
					}

					div{
						display: block;
						width: 2rem;
						margin: 0 auto;
					}

				}

			}

		}
	}

	@media screen and (max-width:850px){

		.generate-pdf-form-container{
			width: 100%;
		}

	}

	footer{
		@media screen and (max-width:540px){
			padding: 10px 20px 40px 20px;
			text-align: center !important;

			p,span{
				margin: 0;
				padding: 0;
				font-size: 16px !important;
				text-align: center;
			}

		}
	}

	.cms-notification {
		position: fixed;
		bottom: -100px;
		right: 10px;
		z-index:1000;
		@include opacity(0);
		transition: opacity 500ms, transform 500ms;

		&.open{
			@include opacity(1);
			bottom: 60px;
		}
	
		.notification {
			width: 100%;
			max-width: 300px;
			@include box-sizing();
			padding: 13px 15px;
			@include border-radius(3px);
			margin: 0;
			position: relative;
	
			h5 {
				font-size: 14px;
				font-weight: 400;
				line-height: 22px;
				color: #FFFFFF;
				text-transform: uppercase;
				padding: 0 0 8px;
				margin: 0 0 5px;
				position: relative;
	
				&:before {
					@include border-bottom(#FFFFFF);
				}
			}
			p {
				font-size: 12px;
				font-weight: 400;
				line-height: 18px;
				color: #FFFFFF;
				margin: 0;
			}
			&.cms-message {
				//background: #ffffff;
			}
	
			span{
				content: '';
				position: absolute;
				top:15px;
				right:15px;
	
				&:after{
					position: absolute;
					top:0;
					right:0;
					content:"\00d7";
					color:#FFF;
					font-size:40px;
					line-height:15px;
					font-weight: 300;
					cursor: pointer;
				}
			}
		}	
	}

}